<section class="container">
  <h1 class="text-center">Bookmarks</h1>
    <div class="bookmarks-container">
      <% @bookmarks.each do |x| %>
        <div class="card col-lg-11 col-sm-11 col-md-11 bookmark">
          <span 
            data-url="<%= x.link %>" 
            class="bookmark-title" 
            title="<%= x.title %>" 
            style="font-weight: bold;"
          > 
            <%= x['title'] %>     
          </span>
          <p class="card-text">
            <%= x.note %>
          </p>
        </div>
      <% end %>
    </div>
</section>