<section class="container">
  <h1 class="text-center">Account</h1>
  <span class="font-weight-bold"> Name:</span>
  <p class="bold"><%= @user.first_name %> <%= @user.last_name %> </p>
  <span class="font-weight-bold"> Email:</span>
  <p> <%= @user.email %> </p>
  <span class="font-weight-bold"> #Bookmarks:</span>
  <p> <%= @user.bookmarks.count %> </p>
</section>