<div class="container">
  <h1 class="text-center"> Search </h1>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="searchQuery" name="q"aria-describedby="emailHelp" placeholder="Enter something to search for" required>
      <button type="submit" class="btn-outline-primary mx-auto" style="display:block; width: 200px; margin-top: 20px;">Submit</button>
    </div>
  </form>
  <%= render 'articles' %>
</div>