body { padding-top: 70px; }

#news-api {
  display: flex;
}

footer {
  height: 50px;
  background: rgba(0, 0, 0, .8);
  color: white;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer >  p > a {
  color: white;
}

.card-img-top:hover {
  cursor:pointer;
}

.container {
  padding-bottom: 100px;
}